body{
    font-family: 'Open Sans',sans-serif;
    background-color: #f5f5f5;
    
}
p{
    font-size: 125px;
    margin-top: 20%;
    margin-bottom: 0%;
}
.head{
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Comic Sans MS";
        
}
.btn{
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
.row{
    margin-top: 3%;
}
.social-btns{
    font-size: 22px;
    list-style: none;
}

.social-btns li{
    margin-bottom: 10px;
}

.social-btns li i{
    font-size: 29px;
}
.social-btns li i.fa-mobile-phone{
    font-size: 35px;
}

.social-btns .btn-facebook {
  background-color: #38519f;
  border-color: #293b75;
  color: #ffffff;
  min-width: 250px;
  font-size: 20px;
  height: 50px;
}

.social-btns .btn-facebook:hover {
  color: #ffffff;
  background-color: #293b75;
  border-color: ;
}

.social-btns .btn-linkedin {
  background-color: #00629e;
  border-color: #044a75;
  color: #ffffff;
  min-width: 250px;
  font-size: 20px; 
  height: 50px;
}


.social-btns .btn-linkedin:hover {
  color: #ffffff;
  background-color: #044a75;
}

.social-btns .btn-google {
  background-color: #df270b;
  border-color: #a01b03;
  color: #ffffff;
  min-width: 250px;
  font-size: 20px;  
  height: 50px;
}

.social-btns .btn-google:hover {
  color: #ffffff;
  background-color: #a01b03;
}
